.calendar_container{
    .Calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    height: 540px;
    position: fixed;
    left: 300px;
    border: 1px solid;
    }
    .Month_year_Details_container{
        display: flex;
        border-bottom: 3px solid #fff;
        margin-top: 10px;
        width: 100%;
        // position: relative;
        // left: 200px;
        button{
            margin: auto 20px
        }
    }
    .days_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .month_table{
            width: 100%;
            border-collapse: collapse;
            thead{
                border-bottom: 1px solid black;
            }
            tr{
                height: 80px;
            }
            tr:not(:last-child){
                border-bottom: 1px solid black;
                td:not(:last-child){
                    border-right: 1px solid black;
                }
            }
        }
        }
        li{
            width: 13%
        }
    ul {
        list-style: none
    }
}